<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>sample14-2</title>
		<style>
			*{margin:0em;padding:0em;font-size:16px;}
			h1{text-align:center;}
			section{
				width:300px;margin:1em auto;
				border:1px solid gray;padding:1em;
				border-radius:0.5em;
			}
		</style>
	</head>

	<body>
		<h1>localStorage</h1>

		<section>
			<h1>保存</h1>
			<p>key：<input id="key1" type="text"></p>
			<p>value：<input id="value1" type="text">
			<button onclick="set1();">保存</button></p>
		</section>

		<section>
			<h1>読出</h1>
			<p>key：<input id="key2" type="text">
			<button onclick="get1();">読出</button></p>
			<p>value：<span id="value2" type="text"></span>
		</section>

		<section>
			<p><button onclick="clear1();">全削除</button></p>
		</section>

		<script>
			function set1(){
				//データ保存
				//localStorageオブジェクトの「setItem()」メソッドで保存
				// (保存するキーと値を一組にして指定)
				const key1 = document.getElementById("key1").value;
				const value1 = document.getElementById("value1").value;
				localStorage.setItem(key1,value1);
			}

			function get1(){
				//データ呼出
				//localStorageオブジェクトの「.getItem(キー)」メソッドでキーを指定し
				// 紐付いている値を呼び出し
				const key2 = document.getElementById("key2").value;
				let value2 = localStorage.getItem(key2);
				document.getElementById("value2").innerHTML = value2;
			}

			function clear1(){
				//全データクリア
				// localStorageオブジェクトの「.clear()」メソッド
				localStorage.clear();
			}
		</script>
	</body>
</html>